/* The popup form - hidden by default */
.popup {
    position: fixed;
    bottom: 0;
    right: 10%;
    width: 80%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    top: 10%;
    height: 80%;
}

/* Add styles to the form container */
.popup-container {
    padding: 10px;
    height: 100%;
    background-color: #f9f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #7f6b6b;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}