@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.restaurant--div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  width: 90%;
}

.restaurant--div img{
  object-fit: cover;
}

.restaurant--component {
  margin-top: 2rem;
}

.restaurant--component--favorite {
  color: green;
}

.restaurant--name:hover {
  cursor: pointer;
}
.star:not(:last-child) {
  margin-right: 1%;
  /* height: min-content; */
}
.star {
  max-width: 20px;
}